.App {
  background-color: #3e3e3e;
  height: 100vh;
  overflow-x: hidden;
}

.menu {
  background-color: #3e3e3e;
}

.nav {
  padding: 10px;
  width: 50%;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

a {
  color: #3e3e3e;
  box-shadow: 0.3em 0.3em 1em;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.7;
}

a:hover {
  color: white;
  opacity: 1;
  box-shadow: 0em 0em 2em;
}

.main .row {
  box-sizing: content-box!important;
}

.img-thumbnail {
  border: none;
  background-color: transparent;
}

.section {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px;
}

.sectionTitle {
  font-weight: bold;
  color: #3e3e3e;
}

.profile {
  background-color: #3a7fb8;
}

.education {
  background-color: #e7ce27;
}

.date {
  color: #3e3e3e;
  text-decoration: underline;
  font-weight: bold;
}

.skills {
  background-color: #e99191;
}

.skillsModal {
  background-color: #c1c1c1;
  border: solid #d1cece;
  border-radius: 10px;
  padding: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.projects {
  background-color: #3ea154;
}

.projectBox {
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.projectBox a {
  display: flex;
  align-items: center;
}

.projectTitle {
  text-decoration: underline;
  color: #3e3e3e;
  font-weight: bold;
}

.projectDescription {
  text-align: left;
  font-size: 0.8em;
}

.work {
  background-color: #975bb4;
}

.col-md {
  z-index: -1000;
}
