.App {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  overflow-x: hidden;
}

.menu {
  background-color: rgb(255, 255, 255);
}

.nav {
  padding: 10px;
  width: 50%;
  border: solid 1px rgb(214, 212, 212);
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(99, 99, 99);
}

a {
  color: #3e3e3e;
  box-shadow: 0.3em 0.3em 1em;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.7;
  cursor: pointer;
  z-index: 2;
}

a:hover {
  color: rgb(221, 221, 221);
  opacity: 1;
  box-shadow: 0em 0em 2em;
}

.main .row {
  box-sizing: content-box!important;
}

.img-thumbnail {
  border: none;
  background-color: transparent;
}

.section {
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px;
  transition: all 0.5s ease-out;
}

.sectionTitle {
  font-weight: bold;
  color: rgb(58, 54, 54);
}

.anchor {
  position: relative;
  top: -80px;
  display: none;
  opacity: 0;
}

.profile {
  background-color: rgb(67, 150, 218);
}

.education {
  background-color: rgb(235, 200, 50);
}

.date {
  color: #3e3e3e;
  text-decoration: underline;
  font-weight: bold;
}

.skills {
  background-color: rgb(221, 133, 195);
}

.skillsModal {
  background-color: #505050;
  border: solid #ffffff;
  border-radius: 10px;
  padding: 10px;
}

.projects {
  background-color: rgb(54, 177, 81);
}

.projectBox {
  display: grid;
  grid-template-columns: 100px 1fr;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.projectBox a {
  display: flex;
  align-items: center;
}

.projectTitle {
  text-decoration: underline;
  color: #3e3e3e;
  font-weight: bold;
}

.projectDescription {
  text-align: left;
  font-size: 0.8em;
}

.work {
  background-color: rgb(223, 114, 41);
}

.col-md {
  z-index: -1000;
}

.svg {
  z-index: -1;
  overflow: hidden;
}